{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}

<div class="text-center">
    <div class="container">  
        <div class="container">
                        <br>
                        <img src="https://www.liat.com/UserFiles/Image/adspecs.jpg" alt="" style="float:left">
                        <img src="{% static 'water.gif' %}" alt="water" width="50%" height="480px ">
                        <img src="http://www.macmedics.com/images/dockers.jpg" alt="" style="float: right;" height="480px" width="10%">
        </div>    
    </div>
</div>



{% endblock %}